{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa kohdetta Harvinainen kolikko</h1>

  <form>
    <div class="form-group">
      <label>Nimi</label>
      <input type="text" class="form-control" value="Harvinainen kolikko">
    </div>
   
    <div class="form-group">
      <label>Vaihtoon tarjotaan:</label>
      <textarea class="form-control">Erittäin hieno ja super harvinainen kiiltävä kolikko.
      </textarea>
    </div>
      <div class="form-group">
          <label>Vaihdossa halutaan:</label>
          <textarea class="form-control">Harvinainen postimerkki vuodela 1999.
          </textarea>
      </div>
      <div class="checkbox">
          <label>
              <input type="checkbox">
              Avoin tarjous
          </label>
      </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}