{% extends "base.html" %}
{% block content %}
  <h1>Harvinainen kolikko</h1>
  
  <ul>
    <li><strong>Ilmoitus julkaistu:</strong> 25.10.2016</li>
    <li><strong>Julkaisija:</strong> Kalle Keräilijä</li>
    <li><strong>Status:</strong> <label class="label label-success">avoinna</label></li>
    <li><strong>Vastatarjous:</strong> postimerkki</li>
  </ul>
  
  <p>
    Tässä on vapaa kuvaus tarjottavasta kohteesta. Tässä on vapaa kuvaus tarjottavasta kohteesta. Tässä on vapaa kuvaus tarjottavasta kohteesta. Tässä on vapaa kuvaus tarjottavasta kohteesta.
  </p>
  
  <p>
      <button class="btn btn-default">Lukitse tajrous</button> <a href="#" class="btn btn-default">Lähetä avoin tarjous</a>
  </p>
{% endblock %}