{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<h1>Tarjous kohteesta {{offer.item_name}}</h1>

<ul>
    <li><strong>Kohteen omistaja:</strong> {{offer.owner_name}}</li>
    <li><strong>Lähetetty:</strong> {{offer.sent}}</li>
</ul>

<h2>Viesti:</h2>
<p>
    {{offer.message}}
</p>

{% if user_logged_in.id == offer.reciever_id %}
<p>

<form method="post" action="{{base_path}}/offers/{{offer.id}}/accept" style="display: inline-block;">
    <button type="submit" class="btn btn-success">Hyväksy tarjous</button>
</form>    
<form method="post" action="{{base_path}}/offers/{{offer.id}}/decline" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Hylkää tarjous</button>
</form>

</p>

{% endif %}

{% endblock %}
