{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<h1>{{item.name}}</h1>

<ul>
    <li><strong>Ilmoitus julkaistu:</strong> {{item.added}}</li>
    <li><strong>Julkaisija:</strong> {{item.owner_name}}</li>
    <li><strong>Status:</strong> 
        {% if item.status=="" %}
        <label class="label label-success">avoin</label>
        {% else %}
        <label class="label label-warning">{{item.status}}</label>
        {% endif %}
    </li>
</ul>

<h2>Kuvaus:</h2>
<p>
    {{item.description}}
</p>


{% if item.offer_wanted %}
<h2>Vaihdossa halutaan:</h2>
<p>
    {{item.offer_wanted}}
</p>

{% endif %}

{% if tags %}
<h2>Tunnisteet:</h2>
<p>
    {% for tag in tags %}
    <span class="label label-default">{{tag.tag}}</span>
    {% endfor %}
</p>
{% endif %}


{% if user_logged_in and item.status == "" %}
{% if item.owner_id != user_logged_in.id %}


    {% if item.offer_wanted %}


<form method="post" action="{{base_path}}/send_offer" style="display: inline-block;">
    <input type="hidden" name="message" value="Suora tarjous: {{item.offer_wanted}}">
    <input type="hidden" name="sender_id" value="{{user_logged_in.id}}">
    <input type="hidden" name="offer_type" value="lukittu">
    <input type="hidden" name="item_status" value="lukittu">

    <div class="form-group">
        <button type="submit" class="btn btn-warning" >Lukitse</button>
        
    </div>
</form>
    {% endif %}
    <a href="{{base_path}}/send_offer" class="btn btn-default">Lähetä avoin tarjous</a>
{% endif %}
{% endif %}
{% endblock %}