{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<h1>{{item.name}}</h1>

<ul>
    <li><strong>Ilmoitus julkaistu:</strong> {{item.added}}</li>
    <li><strong>Julkaisija:</strong> {{item.owner_name}}</li>
    <li><strong>Status:</strong> 
        {% if item.status=="" %}
        <label class="label label-success">avoin</label>
        {% else %}
        <label class="label label-warning">{{item.status}}</label>
        {% endif %}
    </li>
</ul>

<h2>Kuvaus:</h2>
<p>
    {{item.description}}
</p>


{% if item.offer_wanted %}
<h2>Vaihdossa halutaan:</h2>
<p>
    {{item.offer_wanted}}
</p>

{% endif %}

{% if user_logged_in %}
    {% if item.owner_id != user_logged_in.id %}
        <p>
            <a href="{{base_path}}/send_offer" class="btn btn-default">Lähetä avoin tarjous</a>
            
     {% if item.offer_wanted %}
            
             <a href="{{base_path}}/lock_offer"  class="btn btn-warning">Lukitse tarjous</a>

        </p>
     {% endif %}
    {% endif %}
{% endif %}
{% endblock %}