{% extends "base.html" %}
{% block content %}

{% if user_logged_in %}
<h1>Käyttäjän {{user_logged_in.username}} kohteet</h1>
{% endif %}

<p>
    <a href="add_item" class="btn btn-default">Lisää uusi kohde</a>
</p>    

{% if message %}
<div class="alert alert-danger">
    {{message}}
</div>
{% endif %}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Kohteen nimi</th>
            <th>Lisäyspäivä</th>
            <th>Julkaisija</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for item in items %}
        {% if item.owner_id==user_logged_in.id%}
        <tr>
            <td><a href="{{base_path}}/items/{{item.id}}">{{item.name}}</a></td>
            <td>{{item.added}}</td>
            <!-- muokkaa tähän omistajan nimi -->
            <td>{{item.owner_name}}</td>
            <td>
                {% if status=="lukittu" %}
                <label class="label label-danger">lukittu</label>
                {% else %}
                <label class="label label-success">avoin</label>
                {% endif %}
            </td>
            <th> 
                <form method="post" action="{{base_path}}/items/{{item.id}}/destroy" style="display: inline-block;">
                    <button type="submit" class="btn btn-danger">Poista</button>
                </form>
                <a href="{{base_path}}/items/{{item.id}}/edit_item"><button type="submit" class="btn btn-success">Muokkaa</button></a>
            </th>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}